.inputDate input{
    background-color: var(--mainColor);
    border: solid 3px var(--secondColor);
    border-radius: 10px;
    padding: 15px;
    color: var(--secondColor);
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
::-webkit-calendar-picker-indicator{
    background-color: var(--mainColor);
    border: solid 3px var(--secondColor);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}