
/* The radioContainer */
.radioContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radioContainer .name {
    margin-left: 5px;
}

/* Hide the browser's default radio button */
.radioContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: -5px;
    left: 0;
    --checkmarkSize: 20px;
    height: var(--checkmarkSize);
    width: var(--checkmarkSize);
    border: 3px solid var(--bgColor);
    border-radius: 50%;
    transition: background-color .2s, border .2s;
}

/* On mouse-over, add a grey background color */
.radioContainer:hover input ~ .checkmark {
    background-color: var(--bgColor);
}

/* When the radio button is checked, add a blue background */
.radioContainer input:checked ~ .checkmark {
    background-color: var(--secondColor);
    border: 3px solid var(--secondColor);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioContainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radioContainer .checkmark:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    --radioCenterDotSize: 10px;
    width: var(--radioCenterDotSize);
    height: var(--radioCenterDotSize);
    border-radius: 50%;
    background: var(--mainColor);
}