::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}
::-webkit-scrollbar:hover {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--secondColorLighter);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--secondColor);
}
::-webkit-scrollbar-corner{
    background: transparent;
}
::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 10px;
}